
/* responsive contact form 2 */

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');


*  {
    box-sizing: border-box;
    background-color: #ffffff;
    font-family: lato;
}

.contact_container {
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.contact_form {
    width: 600px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    display: block;
    margin-top: 1em;
}

label p {
    margin-bottom: 0.5em;
    letter-spacing: 1px;
}

input, textarea {
    display: block;
    padding: 0.8em;
    width: 100%;
    background: #fcfcfc;
    border: 1px solid #ececec;
    font-size: 1.2 rem;
}

.contact_button {
    display: inline-block;
    width: 30%;
    margin-top: 1.6em;
    margin-left: auto;
    border: none;
    
    background-color: #40D2F7;
    font-size: 1rem;
}

#close {
    border: none;
    background: #fff;
    cursor:pointer;
    color: #e2e2e2; 
}


.contact_button:hover {
    color: white;
    cursor: pointer;
}